<h1>About</h1>

<p>Find me in app/views/pages/about.html.erb</p>
<p>Find me in app/views/pages/about.html.erb</p>
<p>Find me in app/views/pages/about.html.erb</p>
<p>By demonstrating the omnipresent lingering of a ‘corporate world’, Steinhauer often creates work using creative game tactics, but these are never permissive. Play is a serious matter: during the game, different rules apply than in everyday life and even everyday objects undergo transubstantiation.
Her artworks demonstrate how life extends beyond its own subjective limits and often tells a story about the effects of global cultural interaction over the latter half of the twentieth century. It challenges the binaries we continually reconstruct between Self and Other, between our own ‘cannibal’ and ‘civilized’ selves. In a search for new methods to ‘read the city’, she focuses on the idea of ‘public space’ and more specifically on spaces where anyone can do anything at any given moment: the non-private space, the non-privately owned space, space that is economically uninteresting.</p>
